@model MVC.Models.ingredientes

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ingredientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoIngrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomIngrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idIngrediente }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
