@model MVC.Models.trabajdores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Colaboradores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomtrabajador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomtrabajador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dirTrabajador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dirTrabajador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telTrabajdor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telTrabajdor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celTrabajador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celTrabajador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idtrabajador }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
